@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body{
   font-family: 'Titillium', sans-serif, arial, helvetica;
    height: 100vh; 
    width: 100vw; /* si j'utilise pas la même valeur pour width et height ça va créer une ellipse visuelle quuan dearth tourne autour de sun, car hauteur et largeur ne seront pas réciproques*/
    background-image: url('img/pexels-felix-mittermeier-956999.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.system-container{
   
    margin : 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(40, 0, 82, 0.266);
    background-position: center;
    background-repeat: no-repeat;
}

.sun{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(234, 126, 32);
    border-radius: 50%;
    background-color: rgb(255, 200, 0);
    box-shadow: 0 0 3em rgb(236, 136, 13);
}

.earth-system, #moon{
   position: absolute;
   border-color: white
   transparent
   transparent
   transparent;
   border-width: 0.1em 0.1em 0 0;
   border-radius: 50%;
   
}

.earth-system{
  background-image: url(./img/earth3.png);
  background-size: contain;
 
    margin-left: -66rem;
    position: absolute;
    top: 5em;
    width: 1.4em;
    height: 1.4em;
    background-color: rgb(0, 174, 255);
    box-shadow: 0 0 3em rgb(155, 253, 225);
    border: 0.5px solid rgb(68, 204, 241);
    animation: orbit 10s linear infinite; /* durée orbite de la terre autour du soleil 10s = 365*/
    transform-origin: 530px calc(50%); /* C'est le px qui determine le centrage par rapport au sun */
    
}

#moon {
    top: calc(50% - 8em); /* Ajustement verticale */
    left: calc(50% - 4em); /* Ajustement  horizontale */
    width: 8em;
    height: 8em;
    animation: orbit 0.7945s linear infinite; /* durée à echelle de 10sec de l'orbit de la lune autour de la terre*/
    transform-origin: 50% 100%;
   
    
}

#moon::before {
    content: "";  /* j'ai rajouté un texte vide pour agrandir la width de Moon */
    position: absolute;
    border-radius: 50%;
    top: 5em; /* pour changer la distance terre luner */
    right: 5em; /* pour changer la distance terre luner */
    width: 0.5em;
    height: 0.5em;
    background-color: silver;

}

.wave {
  position: fixed;
  width: 0;
  height: 0;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  transform: translate(-50%, -50%);
  background-color: rgb(255, 204, 0);
  border-radius: 50%;
  pointer-events: none;
  animation: waveAnimation 8s ease-out;
  transform-origin: center;
}


/* ajout css nom de la terre utile pour la fonction collision de JS*/

.earth-name {
    
    margin: 3em;
    font-size: 20px;
    font-weight: bold;
    color: white;
    pointer-events: none;
    animation: orbit 0.7945s linear infinite; 
  }


    @keyframes orbit {
        to {
            transform: rotate(-360deg);
        
        }
    }

    @keyframes waveAnimation {
        0% {
          transform: translate(-50%, -50%) scale(0);
          opacity: 0.5;
        }
        100% {
          transform: translate(-50%, -50%) scale(10);
          opacity: 0;
        }
      }